*{
    font-family: 'Poiret One', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* max-width: 1000px; */
    
}
header{
    position: relative;
    min-height: 100px;
    background-color: azure;
    border-top: 1px solid rgb(49, 99, 206);
    border-bottom: 1px solid rgb(49, 99, 206);

}
h1{
color: rgb(49, 99, 206);
padding: 30px 30px;
display: inline;
}
.home{
    color: black;
    text-align: center;
    display:block;
    padding-bottom: 30px;
}
nav{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
    list-style-type: none;

}
nav li{
    display: inline;
}
nav li a{
    color: rgb(49, 99, 206);
    text-decoration: none;
    background-color: azure;
    padding: 6px 10px;
    font-size: 1.1em;
    border: 1px solid rgb(49, 99, 206);
    border-radius: 10px;
    
}
nav li a:hover{
    background-color: rgb(217, 255, 255);
}
.active{
    background-color:  rgb(217, 255, 255);
}

section{
   
    padding: 20px;
    background-color: rgb(252, 252, 215);
    min-height: calc(100vh - 200px);
    color: black;
    overflow: auto;
}
.container{
    margin: auto;
    max-width: 1000px;
    text-align: center;

}
.container > div.text{
    margin-bottom: 50px;
    font-size: larger;
    /* text-align:center; */


}
.forms > div{
    display: flex;
}

.container > div.forms{
    margin-bottom: 50px;
    display: grid;
    justify-content:center;
    grid-template-columns: 100px auto;
    grid-template-rows: auto;
    row-gap: 20px;
}


.btn-contact {
    /* margin:auto; */
    /* margin-top: 10px; */
    background-color: rgb(252, 252, 215);
    border:  1px solid rgb(49, 99, 206);
    color: rgb(49, 99, 206);
    text-decoration: none;
    padding: 6px 10px;
    font-size: 1.1em;
    border-radius: 10px;
    
}
.btn-contact:hover{
    color:  rgb(252, 252, 215);
    background-color: rgb(49, 99, 206);
    }


    footer{
        min-height: 100px;
        background-color:azure;
        border-top: 1px solid rgb(49, 99, 206);
        border-bottom: 1px solid rgb(49, 99, 206);
    }
    address{
        color: rgb(49, 99, 206);
        padding: 20px 30px;
        float: left;
    }